# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/playtogether?schema=public"

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET="super-secret-jwt-key-playtogether-2026"
JWT_EXPIRES_IN="7d"

# CORS Origin
CORS_ORIGIN="http://localhost:5173"
